<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <form action="/iniciarsesion" method="post">
        Email:
        <input type="text" name="email" id="email">
        <br>
        Clave:
        <input type="password" name="clave" id="clave">
        <input type="submit">
    </form>
</body>
</html>