.btnBorrar{
    background-color:  #dc3545;
    color: white;
    margin-right: 4px;
    margin-bottom: 4px;
}

.card{
    width: 20rem;
}

#imgItems{
    height: 300px;
}

#imgProveedores{
    height: 300px;
}

#imgUsuarios{
    height: 300px;
}
.btnEditar{
    margin-right: 4px;
    margin-bottom: 4px;
}


#btncrearEmpleado{
    margin-bottom: 8px;
}

#menuInicio{
    margin-left: 7px;
}

#submit{
    background-color: rgb(227, 235, 236);
}